.horizontal-scrolling{
  // https://codeburst.io/how-to-create-horizontal-scrolling-containers-d8069651e9c6
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  li {
    flex: 0 0 auto;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}